* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: monospace;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    padding: 10px 30px;
    z-index: 1000;
}

.navbar-left .logo {
    display: flex;
    align-items: center;
}

.logo-image {
    height: 170px;
    width: auto;
    transition: transform 0.3s ease;
}

.logo-image:hover {
    transform: scale(1.05);
}

.navbar-right {
    display: flex;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    background-color: white;
    color: white;
    z-index: 1;
}

.nav-links li {
    margin-left: 25px;
    background-color: white;
    justify-content: center;
    color: white;
    align-items: center;
    transition: color 0.3 ease, transform 0.3s ease;
}

.nav-links li:hover {
    transform: scale(1.05); 
}

.nav-links a {
    color: black;
    text-decoration: none;
    font-size: 25px;
    padding: 5px 10px;
    justify-content: center;
    transition: color 0.3s ease, transform 0.3s ease;
}

.nav-links a:hover {
    background-color: #575757;
    border-radius: 5px;
    color: white;
    transform: scale(1.05); 
}

.contact-button {
    border: solid 3px red;
    border-radius: 10px;
    margin: 0;
    transition: color 0.3s ease, transform 0.3s ease;
}

.contact-button a:hover {
    background-color: red;
    border-radius: 10px;
    transform: scale(1.05); 
}

.menu-button {
    display: none;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

@media screen and (max-width: 1177px) {
    .nav-links a {
        font-size: 16px;
    }
}

@media screen and (max-width: 1021px) {
    .logo-image {
        height: 120px;
        width: auto;
    }
}

@media screen and (max-width: 856px) {
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 50px;
        background: white;
        padding: 10px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    }

    .nav-links li {
        margin-left: 0px;
        margin-bottom: 10px;
    }

    .navbar-right {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        position: relative;
    }
    
    .menu-button {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        font-size: 80px;
        cursor: pointer;
        transition: color 0.3s ease, transform 0.3s ease;
    }

    .menu-button:hover{
        color: #575757;
        transform: scale(1.05); 
    }
    
    .nav-links.open {
        display: flex;
    }
}



  